*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cube{
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: green;
    animation: cubeChangeBg 7s linear 1s infinite normal;
}
@keyframes cubeChangeBg{
    0%{
        background-color: red;
        transform: translate(0px, 0px);
    }
    25%{
        background-color: violet;
        transform: translate(0px, 100px);
    }
    50%{
        background-color: goldenrod;
        transform: translate(100px, 100px);
    }
    75%{
        background-color: lawngreen;
        transform: translate(100px, 0px);
    }
    100%{
        background-color: fuchsia;
        transform: translate(0px, 0px);
    }
}